@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Raleway;
}

body {
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    padding: 2vh 1vw;
    width: 100%;
    color: #fff;
    font-size: 2vw;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 80%);
    z-index: 2;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .email {
    color: #fff;
}

header a {
    text-decoration: none;
}

header i {
    color: #fff;
}

h2 {
    display: block;
    font-size: 8vw;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h5 {
    font-size: 2.5vw;
    margin-right: 4vw;
}

p {
    font-size: 2vw;
    margin-top: 12vh;
    margin-right: 4vw;
}

footer {
    background: rgba(26, 26, 30, 1);
    color: #fff;
    min-height: 15vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 3.5vw;
    color: #fff;
    text-decoration: none
}

#section-pluma {
    font-size: 4vw;
    padding-top: 3vw;
    margin: 15vh 4vw;
    height: 100vh;
}

#section-pluma i {
    color: rgb(59, 198, 229);
}

#section-wifi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
    padding-left: 6vw;
}

#section-wifi .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#section-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: white;
    padding-left: 6vw;
}

#section-custom .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#section-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    padding-left: 6vw;
    color: white;
}

#section-app .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#section-youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(31, 31, 35);
    padding-left: 6vw;
    color: white;
}

#section-youtube .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.violet-underline {
    text-decoration: underline;
    text-decoration-color: violet;
    text-decoration-thickness: 8px;
}

.blue-underline {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 5px;
}

.green-underline {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 5px;
}

.separator {
    height: 10px;
    background-color: black;
    width: 100vw;
}

.arrow-relative {
    background-color: rgba(250, 250, 250, 80%);
    position: relative;
}

.arrow-absolute {
    font-size: 4vw;
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    color: white;
}

.video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}