@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 16px;
    background-color: rgba(241, 241, 244, 0.822);
}

.container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

header {
    margin-top: 3rem;
}

header h2 {
    font-size: 2rem;
}

.card-big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    border-radius: 1em;
    gap: 5px;
    padding: 1rem;

    img {
        width: 25rem;
        height: 25rem;
        border-radius: 1em;
    }
}

.img-big {
    grid-column: 1;
    grid-row: 1;
}

.info-big {
    grid-column: 2;
    grid-row: 1;
}

.medium-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-columns: repeat(12, minmax(50px, 1fr)); */
    /* grid-template-rows: (5, 1fr); */
    gap: 2.5rem;
}

.card_0 {
    grid-column: span 12;
    grid-row: 1;
}

.card_1 {
    grid-column: 1 / span 6;
    grid-row: 2;
}

.card_2 {
    grid-column: 7 / span 6;
    grid-row: 2;
}

.card_3 {
    grid-column: 1 / span 6;
    grid-row: 3;
}

.card_4 {
    grid-column: 7 / span 6;
    grid-row: 3;
}

.card_5 {
    grid-column: 1 / span 4;
    grid-row: 4;
}

.card_6 {
    grid-column: 5 / span 4;
    grid-row: 4;
}

.card_7 {
    grid-column: 9 / span 4;
    grid-row: 4;
}

.card_8 {
    grid-column: 1 / span 4;
    grid-row: 5;
}

.card_9 {
    grid-column: 5 / span 4;
    grid-row: 5;
}

.card_10 {
    grid-column: 9 / span 4;
    grid-row: 5;
}

.medium-card {
    background-color: white;
    border-radius: 1em;

    img {
        width: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    p {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

.small-card {
    background-color: white;
    border-radius: 1em;

    img {
        width: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    p {
        margin-left: .5rem;
        margin-right: .5rem;
    }

}