.history
UF1841/Ejercicios/emojis/.DS_Store
UF1841/Ejercicios/.DS_Store
.DS_Store
UF1844/flask/01_hola_mundo/.vscode
UF1844/flask/01_hola_mundo/__pycache__
UF1844/flask/02_microbit/.vscode
UF1844/flask/02_microbit/__pycache__
