.parent {
    margin-top: 2rem;
    width: 60%;
    margin: 0 auto;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 25px;
    padding: 1rem;
}

div {
    border: 1px solid red;
    border-radius: 1rem;
}

.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 8;
}

.div8 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 7;
}

.div9 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 7;
    border: 1px solid red;
}

.div10 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 8;
    grid-row-start: 5;
}

.div11 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
}

.div12 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}