<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo login</title>
</head>

<body>
    {% if session.username %}
    <a href="{{url_for('logout')}}"></a>
    {% endif %}

    {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
    {% for mensaje in mensajes %}
    <p>{{ mensaje }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock content %}
</body>

</html>