body {
  margin: 0;
  padding: 0;
  width: 70%;
  margin: 0 auto;
}

.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 10;
  /* grid-template-rows: 10; */
  gap: 0.5rem;
  padding: 2rem;
  background-color: black;
}

/* img {
    text-align: center;
    padding: 0.2rem;
} */

.content_1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 3;
}

.content_2 {
  grid-column: 6 / span 4;
  grid-row: 1 / span 3;
}

.content_3 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 4;
}

.content_4 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
}

.content_5 {
  grid-column: 1 / span 2;
  grid-row: 8 / span 3;
}

.content_6 {
  grid-column: 3 / span 3;
  grid-row: 7 / span 4;
}

.content_7 {
  grid-column: 6 / span 4;
  grid-row: 4 / span 7;
}
