body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.75;
  font-size: 100%;
  .contenedor {
    width: 45%;
    margin: 0 auto;
    header {
      margin-top: 10px;
      nav {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          text-align: center;
          li {
            display: inline-block;
            padding: 10px;
            margin: 15px;
            a {
              color: #353534;
              font-size: 19.6px;
            }
            a:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    main {
      h1 {
        margin: 50px, 0, 25px, 0;
        font-size: 40px;
      }
      h3 {
        margin: 24px, 0, 12px, 0;
        font-size: 24px;
      }
      p {
        font-size: 20px;
        margin: 0, 0, 18px, 0;
        a {
          color: #0076df;
          text-decoration: underline;
          text-decoration-color: #eee;
          text-underline-offset: 5px;
          transition: text-decoration-color 0.3s ease,
            text-underline-offset 0.3s ease, text-decoration-thickness 0.3s ease;
        }
        a:hover {
          text-underline-offset: 7px;
          color: #00369f;
        }
      }
      ul {
        margin: 0, 0, 18px;
        padding: 0, 0, 0, 36px;
        font-size: 20px;
        a {
          color: #0076df;
          text-decoration: underline;
          text-decoration-color: #eee;
          text-underline-offset: 5px;
          transition: text-decoration-color 0.3s ease,
            text-underline-offset 0.3s ease, text-decoration-thickness 0.3s ease;
        }
        a:hover {
          text-underline-offset: 7px;
          color: #00369f;
        }
      }
    }
    footer {
      margin: 0, 0, 30px, 0;
      padding: 36px;
      text-decoration: none;
      background-image: none;
      color: #000;
      font-weight: 300;
      word-wrap: normal;
      text-align: center;
      h5 {
        color: black;
        font-size: 30px;
        margin: 28px, 0, 14px, 0;
        float: left;
        display: block;
        width: 50%;
      }
      a {
        text-decoration: none;
        background-image: none;
        color: #000;
        font-weight: 300;
        word-wrap: normal;
        text-align: center;
      }
      span {
        position: relative;
      }
    }
  }
}
