@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Fira Mono";
  font-size: 16px;
  background-color: #292a2d;
  color: #f8f8ff;
}

header {
  background-color: #252627;
}
nav {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
nav a {
  padding-right: 1rem;
  color: #f8f8ff;
  text-decoration: none;
}

.main {
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
ul li {
  font-size: 1rem;
  display: inline-block;
}
ul li a {
  color: #f8f8ff;
  text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}

.about-content {
  width: 60%;
  margin: 0 auto;
}

.about-post-data {
  font-family: fira mono, monospace;
  display: block;
  background: #252627;
  padding: 10px;
}

footer {
  height: 9vh;
  background-color: #252627;
  text-align: center;
  justify-content: end;
}
footer p {
  padding-top: 1rem;
  font-size: 1rem;
}
