@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

* {
  font-family: "Fira Mono";
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  background-color: #292a2d;
  color: #f8f8ff;
}


header {
  background-color: #252627;
}

nav {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

nav a {
  padding-right: 1rem;
  color: #f8f8ff;
  text-decoration: none;
}

.main {
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.separator {
  height: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #252627;
  color: #80aadd;
}

ul li {
  font-size: 1rem;
  display: inline-block;
}

ul li a {
  color: #f8f8ff;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.about-content {
  width: 50%;
  margin: 0 auto;
}

.about-post-data {
  background: #252627;
  width: 100%;
  padding: 0.8vh;
  display: flex;
}

.about-post-item {
  /* margin-top: 8vh;
  padding: 2vh; */
  background: #252627;
  /* width: 50%; */
}

footer {
  height: 8vh;
  background-color: #252627;
  text-align: center;
  justify-content: end;
}

footer p {
  background-color: #252627;
  padding-top: 1rem;
  font-size: 1rem;
}